/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto' , sans-serif;
}
/* Utilitys */
.container{
    margin: 0 auto;
    width: 80%;
}
img{
    width: 100%;
}
.flex{
    display: flex;
}
ul{
    list-style-type: none;
    display: flex;
    color: white;
}
li{
    margin-right: 10px;
}
.price{
    color: red;
    font-weight: bold;
}
.old-price{
    text-decoration: line-through;
}
/* Header */
header{
    background-color: #FF6900;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}
.contain{
    width: calc( 100% / 3 );
    line-height: 50px;
}
.profile{
    justify-content: end;
    align-items: center;
}
.profile i{
    margin-left: 10px;
    color: white;
}
.logo{
    justify-content: center;
    align-items: center;
}
#logo{
    height: 20px;
    width: 100px;
}
/* Main */
.row{
    flex-wrap: wrap;
    width: 100%;
}
.card{
    width: calc( 100% / 3 - 10px);
    margin-top: 50px;
    margin-right: 10px;
    position: relative;
}
.hearth{
    width: 40px;
    height: 40px;
    background-color: white;
    font-size: 40px;
    position: absolute;
    right: 0;
    top : 10px;
    justify-content: center;
    align-items: center;
}
.hearth:hover{
    color: red;
}